<h1 class="second-sentence-title">Let's Work on Some Sentences</h1>
<div class="second-sentence-quiz" style="text-align:center">
  <form>
    <div class="form-group">
      <label>The day after tomorrow will be five days after last Friday. What day is it today?</label>
      <a href="/blackScreen" type="submit" class="btn btn-success second-sentence-button">Saturday</a>
      <a href="/blackScreen" type="submit" class="btn btn-success second-sentence-button">Sunday</a>
      <a href="/blackScreen" type="submit" class="btn btn-success second-sentence-button">Monday</a>
      <a href="/blackScreen" type="submit" class="btn btn-success second-sentence-button">Tuesday</a>
    </div>
  </form>
</div>
