<h1 class="sentence-title">Let's Answer Some Questions</h1>
<div class="sentence-quiz" style="text-align:center">
  <form>
    <div class="form-group">
      <label for="simpleMathQuestion">Leg is to Pants as Head is to _________ ?</label>
      <a href="/secondSentenceQuiz" type="submit" class="btn btn-success sentence-button">Hat</a>
      <a href="/secondSentenceQuiz" type="submit" class="btn btn-success sentence-button">Shirt</a>
      <a href="/secondSentenceQuiz" type="submit" class="btn btn-success sentence-button">Foot</a>
      <a href="/secondSentenceQuiz" type="submit" class="btn btn-success sentence-button">Shoes</a>
    </div>
  </form>
</div>
