<h1 class="math-title">Math: Exercise 1</h1>
<div class="math-quiz" style="text-align:center">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="simpleMathQuestion">What is the result of 1 + 1</label>
      <input type="number" class="form-control" id="simpleMathQuestion" required [(ngModel)]="model.simpleMathQuestion" name="name" #name="ngModel">
    </div>
    <a href="/memoryQuiz" type="submit" class="btn btn-success math-button">Submit</a>
  </form>
</div>
