<h1 class="math-title">Math: Exercise 2</h1>
<div class="math-quiz" style="text-align:center">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="intermediateMathQuestion">What is the result of 10 * 13</label>
      <input type="number" class="form-control" id="intermediateMathQuestion" required [(ngModel)]="model.intermediateMathQuestion" name=name #name="ngModel">
    </div>
    <a href="/memoryQuiz" type="submit" class="btn btn-success math-button">Submit</a>
  </form>
</div>
